beltCont {
  margin-left: 10;
  margin-bottom: 10;
  scale: 0.5;
}

.outlineColor {
}

.backgroundHolder {
  min-width: 46;
  min-height: 46;
}

.hotkeyContainer {
  position: absolute;
  align: top left;
  padding-left: 3;
  padding-top: -3;
}

.beltSlotNumber {
  color: rgba(180, 175, 175, 0.863);
}

.itemContainer {
  position: absolute;
  align: middle middle;

  scale: 2;
}
