beltCont {
  margin-left: 10;
  margin-bottom: 10;
}

.beltSlot {
  min-width: 26;
  min-height: 26;
  scale: 0.5;

  background: #494e55;
}

.hotkeyContainer {
  position: absolute;
  align: top left;
  padding-left: 8;
}

.beltSlotNumber {
  color: rgba(180, 175, 175, 0.863);
}

.itemContainer {
  scale: 2;
}
