.scrollable {
  width: 120;
  height: 140;

  align: top;
}

.scroll_bar {
  fill-height: true;
  align: top;
  width: 6;
  padding-left: 2;
}

.content_flow {
  padding-left: 7;
  padding-right: 8;
  /* padding-top: 3; */
  padding-bottom: 8;
  layout: horizontal;
}
