recipe-comp window {
  height: 20;
}

.windowLabel {
  align: middle left;
  padding-top: 0;
  position: absolute;
  offset-x: 25;
}

.icon {
  position: absolute;
  valign: middle;
  x: 2;
}

.craft_button {
  align: middle right;
  margin-right: 2;
}
